@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sono&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #132632   ;
    --secondary-color: #EBF0CF ;
    --accent1-color: #1A3841;
    --accent2-color: #4F5557;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Sono";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: black; /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #132632  ;
    --nav-link-color: black;
    --nav-background-color: #EBF0CF;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #1A3841;
}

#content {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #EBF0CF;
}
  
/* header styles */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #132632;
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
    padding: 10px;
}

.header-box {
    background-color: #132632;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

header nav a:hover{
    background-color: #4F5557;
    color: #EBF0CF;
}

/* subpage hero image */

#main-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 200px 100px 200px 100px;
}

#hero-img {
    width: 100%;
    grid-column: 1/11;
    grid-row: 1/7;
    z-index: 0;
}

.sub-card-img {
    width: 100%;
    grid-column:4/8;
    grid-row:2/4;
    z-index: 2;
    border: solid #1A3841;
    border-width: 10px;
    border-radius: 30px;
}

#filler {
    background-color: #EBF0CF;
    grid-row: 3/7;
    grid-column: 1/11;
    z-index: 1;
}

#main-content h1 {
    font-family: var(--heading-font);
    grid-row: 4/5;
    grid-column: 1/11;
    z-index: 3;
    margin: auto;
    font-size: 3em;
}

#main-content p {
    font-family: var(--paragraph-font);
    grid-row: 5/6;
    grid-column: 2/10;
    z-index: 3;
    font-size: 20px;
}

/* main body styles */

#home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 200px 100px 200px 100px;
}

#home-grid a {
    width: 100%;
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    text-decoration: none;
    font-size: 2em;
}

#home-grid a:hover{
    background-color: #4F5557;
    color: #EBF0CF;
}

#home-grid .card-img {
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    border: solid;
    border-color: #4F5557;
    border-width: 5px;
}

.phishing-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #1A3841;
    grid-column: 3/-3;
    grid-row: 2/3;
    text-align: center;
    border-radius: 10px;
}

.password-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #1A3841;
    grid-column: 3/-3;
    grid-row: 4/5;
    text-align: center;

}

/* footer styles */
footer {
    background-color: #132632;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 200px;
    font-family: var(--paragraph-font);
    color: var(--headline-color-on-color);
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a, footer p {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

footer nav a:hover{
    background-color: #4F5557;
    color: #EBF0CF;
}
